/* global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
  }
  
  /* navigation styling */
  .container {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    text-align: center;
    text-transform: capitalize;
  }
  
  nav ul li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s;
  }
  
  .container input {
    width: 80%;
    outline: none;
    border: 0;
    padding: 10px;
    border-radius: 10px;
  }
  
  #navigation {
    height: 10vh;
    background-color: rgb(248, 248, 6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 30px;
    font-weight: 700;
  }
  
  /* header text section */
  .container-2 {
    justify-content: center;
    display: flex;
    gap: 60px;
    padding: 50px;
  }
  
  .header-text {
    flex-basis: 50%;
  }
  
  .img {
    flex-basis: 28%;
    transition: 0.5s ease-in-out;
    
  }
  
  .img img {
    width: 100%;
  }
  
  .img:hover {
    transform: translateY(-10px);
  }
  
  #text h1 {
    font-size: 38px;
    transition: color 0.5s;
    margin-bottom: 20px;
  }
  
  .header-text h1:hover {
    color: blue;
  }
  
  #search::placeholder {
    color: black;
  }
  #menu{
    display: none;
  }
  
  .footer{
    text-align: center;
  }
  .icon{
    display: flex;
    justify-content: center;
  }
  .icon i{
    font-size: 30px;
    margin-right: 20px;
  }

  /* media query */
  @media (max-width: 580px) {
    .container-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #text h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    nav ul li {
      display: none;
    }

  
    #search {
      margin-left: 10px;
      background-color: #ccc;
    }
  
    nav {
      display: none;
    }
    #menu{
        font-size: 30px;
        margin-left: 10px;
    }
  }
  